.star{
  width: 40Px;
  height: 40Px;
  position: absolute;
  z-index: 1;
}

.happy-box{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.happy{
  width: 10vw;
  height: 10vw;
}